html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/*      border: 1px solid grey;       */


body{
    width: 100%;
    font-size: 100%;
    height: 100%;
    border: 1px solid grey;  
    box-sizing: border-box;
}

.headerPic{
    
    width: 50%;
    height: 50%;
    
}


.footerPic{
    
   
}

.navContainer{
    
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.adContainer{
    
    display:flex;
    margin: 0 auto;
    width: 80%;
}

.contentContainer{
    border: 1px solid grey;
}

.history{
    border: 1px solid grey;
    margin: 0 auto;
    width: 90%;
}

.fire{
    border: 1px solid grey;
    margin: 0 auto;
    width: 30%;
}

.reservation{
    border: 1px solid grey;
    margin: 0 auto;
    width: 30%;
}


