
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  

vertical-align: baseline;  
}



@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body{
    width: 100%;
    font-size: 100%;
    height: 100%;
    border: 1px solid grey;  
    box-sizing: border-box;
    letter-spacing: 3px;
    font-family: 'Chelsea Market', cursive;
}





h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 200%;
}

.navContainer{
     
    margin: 0 auto;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    padding: 5%;
}

.navContainer a{
    text-decoration: none;
    color: white;
    
    margin: 8%;
    padding: 2%;
    border-radius: 10px;
    
    
}

.navContainer a:visited{
    text-color: white;
}

.navContainer .plan{
    background: #FF764E;
}

.navContainer .learn{
    background: #5ED3EB
}

.navContainer .involved{
    background: #FFCD69
}

.headerPic{
    width: 300px;
    height:300px;
    border-radius: 150px;
    
   
}

.test{
    
    margin-left: 12%;
}
.adContainer{
    
    display:inline-block;
    width:10%
    
    margin-left: 5%;
    
}
.guide{
    
    position: relative;
    bottom: 130px;
    display:inline-block;
    
    margin-left: 8%
    
}



.history{
    
    margin: 0 auto;
    width: 80%;
    height: 100px;
    color: white;
    margin-top:30px;
    background: #DDB9A3;
}

.fireicon{
   text-align: center;
}

.reservationIcon{
    text-align: center;
 }

.fire{
   
    margin: 0 auto;
    width: 30%;
    margin-top:30px;
}

.reservation{
    
    margin: 0 auto;
    width: 30%;
    margin-top:30px;
}

.footImage{
    background: url("assets/footer_img.jpg");
    height: 80vh;
    margin-top: 30px;
    
}

.footer{
    background: #F9E7DC;
}

